ChiKoja/Web References/LocationService/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILocationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements.Location" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_GetLocationyVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationyVersion" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationyVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationyVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProvinces" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistricts" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistrictsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="GetLocationyVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationyVersion" message="tns:ILocationService_GetLocationyVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationyVersionResponse" message="tns:ILocationService_GetLocationyVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetAllProvinces" message="tns:ILocationService_GetAllProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetAllProvincesResponse" message="tns:ILocationService_GetAllProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetAllCities" message="tns:ILocationService_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetAllCitiesResponse" message="tns:ILocationService_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetAllDistricts" message="tns:ILocationService_GetAllDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetAllDistrictsResponse" message="tns:ILocationService_GetAllDistricts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ILocationService" type="tns:ILocationService">
    <wsp:PolicyReference URI="#WSHttpBinding_ILocationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocationyVersion">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetLocationyVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetAllProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDistricts">
      <soap12:operation soapAction="http://tempuri.org/ILocationService/GetAllDistricts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ILocationService" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocationyVersion">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationyVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDistricts">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllDistricts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="WSHttpBinding_ILocationService" binding="tns:WSHttpBinding_ILocationService">
      <soap12:address location="http://192.168.42.16/Services/LocationService.svc/basic" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.42.16/Services/LocationService.svc/basic</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ILocationService" binding="tns:BasicHttpBinding_ILocationService">
      <soap:address location="http://192.168.42.16/Services/LocationService.svc/PublicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>