ChiKoja/Web References/LocationService/LocationService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
  <xs:element name="GetLocationyVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationyVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetLocationyVersionResult" nillable="true" type="q1:ResponseBaseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllProvincesResult" nillable="true" type="q2:ResponseBaseOfArrayOfProvince63bt_SHOU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllCitiesResult" nillable="true" type="q3:ResponseBaseOfArrayOfCity63bt_SHOU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllDistrictsResult" nillable="true" type="q4:ResponseBaseOfArrayOfDistrict63bt_SHOU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>