ChiKoja/Web References/AdCommonService/AdvertisementCommonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Advertisements" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementCommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementCommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfAdvertisementCommon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvertisementCommon" nillable="true" type="tns:AdvertisementCommon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertisementCommon" nillable="true" type="tns:ArrayOfAdvertisementCommon" />
  <xs:complexType name="AdvertisementCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdPrivilageId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdvertisementImages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="AdvertisementPrice" nillable="true" type="tns:Price" />
      <xs:element minOccurs="0" name="AdvertisementStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AdvertisementTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfVisit" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertisementCommon" nillable="true" type="tns:AdvertisementCommon" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceType" type="tns:PriceType" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:simpleType name="PriceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ForSale" />
      <xs:enumeration value="ForExchange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceType" nillable="true" type="tns:PriceType" />
</xs:schema>