ChiKoja/Web References/AdCommonService/AdvertisementCommonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementCommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementCommonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementCommonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
  <xs:element name="WhatTimeIsIt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatTimeIsItResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhatTimeIsItResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestNameValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userDictionary" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestNameValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestNameValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementCommon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userInput" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementCommonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAdvertisementCommonResult" nillable="true" type="q3:ResponseBaseOfArrayOfAdvertisementCommongJiz6K1p" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAdvertisementCommon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassIsEncrypted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAdvertisementCommonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetCustomerAdvertisementCommonResult" nillable="true" type="q4:ResponseBaseOfArrayOfAdvertisementCommongJiz6K1p" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="advertisementCommon" nillable="true" type="q5:AdvertisementCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="RemoveAdvertisementResult" nillable="true" type="q6:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="advertisement" nillable="true" type="q7:AdvertisementCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="ExtendAdvertisementResult" nillable="true" type="q8:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>