ChiKoja/Web References/RegistrationService/RegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRegistrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.42.16/Services/RegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/RegistrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/RegistrationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_IsEmailAddressVerified_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressVerified" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_IsEmailAddressVerified_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressVerifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_IsPhoneNumberVerified_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPhoneNumberVerified" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_IsPhoneNumberVerified_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPhoneNumberVerifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetUserInfromation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfromation" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetUserInfromation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfromationResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ValidateUser" message="tns:IRegistrationService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ValidateUserResponse" message="tns:IRegistrationService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CreateNewUser" message="tns:IRegistrationService_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CreateNewUserResponse" message="tns:IRegistrationService_CreateNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ForgotPassword" message="tns:IRegistrationService_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ForgotPasswordResponse" message="tns:IRegistrationService_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressVerified">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/IsEmailAddressVerified" message="tns:IRegistrationService_IsEmailAddressVerified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/IsEmailAddressVerifiedResponse" message="tns:IRegistrationService_IsEmailAddressVerified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPhoneNumberVerified">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/IsPhoneNumberVerified" message="tns:IRegistrationService_IsPhoneNumberVerified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/IsPhoneNumberVerifiedResponse" message="tns:IRegistrationService_IsPhoneNumberVerified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfromation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetUserInfromation" message="tns:IRegistrationService_GetUserInfromation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetUserInfromationResponse" message="tns:IRegistrationService_GetUserInfromation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <wsp:PolicyReference URI="#WSHttpBinding_IRegistrationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/CreateNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/ForgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressVerified">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/IsEmailAddressVerified" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPhoneNumberVerified">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/IsPhoneNumberVerified" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfromation">
      <soap12:operation soapAction="http://tempuri.org/IRegistrationService/GetUserInfromation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressVerified">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/IsEmailAddressVerified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPhoneNumberVerified">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/IsPhoneNumberVerified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfromation">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetUserInfromation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="WSHttpBinding_IRegistrationService" binding="tns:WSHttpBinding_IRegistrationService">
      <soap12:address location="http://192.168.42.16/Services/RegistrationService.svc/basic" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.42.16/Services/RegistrationService.svc/basic</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="http://192.168.42.16/Services/RegistrationService.svc/PublicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>