ChiKoja/Web References/AdTransportationService/AdvertisementTransportationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdvertisementTransportationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAdvertisementTransportationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements.Transportation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdvertisementTransportationService_GetAllVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicles" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAllVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAdvertisementTransportation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertisementTransportation" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAdvertisementTransportation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertisementTransportationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_AddNewAdvertisementTransportation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAdvertisementTransportation" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_AddNewAdvertisementTransportation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAdvertisementTransportationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_EditAdvertisementTransportation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAdvertisementTransportation" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_EditAdvertisementTransportation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAdvertisementTransportationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAllTransportationBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransportationBrands" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAllTransportationBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransportationBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAllTransportationModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransportationModels" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetAllTransportationModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransportationModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetServerDataVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDataVersion" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementTransportationService_GetServerDataVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDataVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdvertisementTransportationService">
    <wsdl:operation name="GetAllVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllVehicles" message="tns:IAdvertisementTransportationService_GetAllVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllVehiclesResponse" message="tns:IAdvertisementTransportationService_GetAllVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvertisementTransportation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAdvertisementTransportation" message="tns:IAdvertisementTransportationService_GetAdvertisementTransportation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAdvertisementTransportationResponse" message="tns:IAdvertisementTransportationService_GetAdvertisementTransportation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAdvertisementTransportation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/AddNewAdvertisementTransportation" message="tns:IAdvertisementTransportationService_AddNewAdvertisementTransportation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/AddNewAdvertisementTransportationResponse" message="tns:IAdvertisementTransportationService_AddNewAdvertisementTransportation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAdvertisementTransportation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/EditAdvertisementTransportation" message="tns:IAdvertisementTransportationService_EditAdvertisementTransportation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/EditAdvertisementTransportationResponse" message="tns:IAdvertisementTransportationService_EditAdvertisementTransportation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationBrands" message="tns:IAdvertisementTransportationService_GetAllTransportationBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationBrandsResponse" message="tns:IAdvertisementTransportationService_GetAllTransportationBrands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationModels" message="tns:IAdvertisementTransportationService_GetAllTransportationModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationModelsResponse" message="tns:IAdvertisementTransportationService_GetAllTransportationModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDataVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetServerDataVersion" message="tns:IAdvertisementTransportationService_GetServerDataVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementTransportationService/GetServerDataVersionResponse" message="tns:IAdvertisementTransportationService_GetServerDataVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAdvertisementTransportationService" type="tns:IAdvertisementTransportationService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAdvertisementTransportationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllVehicles">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvertisementTransportation">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAdvertisementTransportation">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/AddNewAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAdvertisementTransportation">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/EditAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationBrands">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationBrands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationModels">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDataVersion">
      <soap12:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetServerDataVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAdvertisementTransportationService" type="tns:IAdvertisementTransportationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllVehicles">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvertisementTransportation">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAdvertisementTransportation">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/AddNewAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAdvertisementTransportation">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/EditAdvertisementTransportation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationBrands">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransportationModels">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetAllTransportationModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDataVersion">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementTransportationService/GetServerDataVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvertisementTransportationService">
    <wsdl:port name="WSHttpBinding_IAdvertisementTransportationService" binding="tns:WSHttpBinding_IAdvertisementTransportationService">
      <soap12:address location="http://192.168.42.16/Services/AdvertisementTransportationService.svc/basic" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.42.16/Services/AdvertisementTransportationService.svc/basic</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAdvertisementTransportationService" binding="tns:BasicHttpBinding_IAdvertisementTransportationService">
      <soap:address location="http://192.168.42.16/Services/AdvertisementTransportationService.svc/PublicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>