ChiKoja/Web References/AdTransportationService/AdvertisementTransportationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Advertisements" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="AdvertisementTransportation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AdvertisementBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BodyColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BodyStatus" type="tns:BodyStatus" />
          <xs:element minOccurs="0" name="BodyStatusName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BrandId" type="xs:int" />
          <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarStatus" type="tns:CarStatus" />
          <xs:element minOccurs="0" name="FuelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gearbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternalColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MakeYear" type="xs:int" />
          <xs:element minOccurs="0" name="Mileage" type="xs:int" />
          <xs:element minOccurs="0" name="ModelId" type="xs:int" />
          <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlateType" type="tns:PlateType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdvertisementTransportation" nillable="true" type="tns:AdvertisementTransportation" />
  <xs:complexType name="AdvertisementBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvertisementCommon" nillable="true" type="tns:AdvertisementCommon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertisementBase" nillable="true" type="tns:AdvertisementBase" />
  <xs:complexType name="AdvertisementCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdPrivilageId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdvertisementImages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="AdvertisementPrice" nillable="true" type="tns:Price" />
      <xs:element minOccurs="0" name="AdvertisementStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdvertisementStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AdvertisementTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AdvertisementTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfVisit" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertisementCommon" nillable="true" type="tns:AdvertisementCommon" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceType" type="tns:PriceType" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:simpleType name="PriceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ForSale" />
      <xs:enumeration value="ForExchange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceType" nillable="true" type="tns:PriceType" />
  <xs:simpleType name="BodyStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoAccident" />
      <xs:enumeration value="OneAccident" />
      <xs:enumeration value="TwoAccident" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BodyStatus" nillable="true" type="tns:BodyStatus" />
  <xs:simpleType name="CarStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Used" />
      <xs:enumeration value="Draft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CarStatus" nillable="true" type="tns:CarStatus" />
  <xs:simpleType name="PlateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="National" />
      <xs:enumeration value="FreeRegion" />
      <xs:enumeration value="Temporary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlateType" nillable="true" type="tns:PlateType" />
</xs:schema>