ChiKoja/Web References/AdTransportationService/AdvertisementTransportationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.42.16/Services/AdvertisementTransportationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
  <xs:element name="GetAllVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllVehiclesResult" nillable="true" type="q1:ResponseBaseOfArrayOfVehiclegJiz6K1p" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementTransportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AdvertisementGuid" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementTransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAdvertisementTransportationResult" nillable="true" type="q3:ResponseBaseOfAdvertisementTransportationgJiz6K1p" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAdvertisementTransportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="advertisementTransportation" nillable="true" type="q4:AdvertisementTransportation" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassIsEncrypted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAdvertisementTransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="AddNewAdvertisementTransportationResult" nillable="true" type="q5:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAdvertisementTransportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="advertisementTransportation" nillable="true" type="q6:AdvertisementTransportation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAdvertisementTransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="EditAdvertisementTransportationResult" nillable="true" type="q7:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransportationBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransportationBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllTransportationBrandsResult" nillable="true" type="q8:ResponseBaseOfArrayOfTransportationBrandoKnNwMS4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransportationModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransportationModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetAllTransportationModelsResult" nillable="true" type="q9:ResponseBaseOfArrayOfTransportationModeloKnNwMS4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDataVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDataVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetServerDataVersionResult" nillable="true" type="q10:ResponseBaseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>