ChiKoja/Web References/AdTransportationService/AdvertisementTransportationService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Advertisements.Transportation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Advertisements.Transportation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransportationBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportationBrand" nillable="true" type="tns:TransportationBrand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportationBrand" nillable="true" type="tns:ArrayOfTransportationBrand" />
  <xs:complexType name="TransportationBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportationBrand" nillable="true" type="tns:TransportationBrand" />
  <xs:complexType name="ArrayOfTransportationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportationModel" nillable="true" type="tns:TransportationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportationModel" nillable="true" type="tns:ArrayOfTransportationModel" />
  <xs:complexType name="TransportationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportationModel" nillable="true" type="tns:TransportationModel" />
</xs:schema>