ChiKoja/Web References/RepositoryService/RepositoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/RepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
  <xs:element name="GetMainServerDataVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainServerDataVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Messages" minOccurs="0" name="GetMainServerDataVersionResult" nillable="true" type="q1:ResponseBaseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>