ChiKoja/Web References/CategoryService/CategoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
  <xs:complexType name="ResponseBaseOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomDictionary" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseData" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBaseOfint" nillable="true" type="tns:ResponseBaseOfint" />
  <xs:complexType name="ResponseBaseOfArrayOfCategorygJiz6K1p">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCategory" Namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomDictionary" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="ResponseData" nillable="true" type="q3:ArrayOfCategory" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBaseOfArrayOfCategorygJiz6K1p" nillable="true" type="tns:ResponseBaseOfArrayOfCategorygJiz6K1p" />
  <xs:complexType name="ResponseBaseOfCategorygJiz6K1p">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Category" Namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomDictionary" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model.Advertisements" minOccurs="0" name="ResponseData" nillable="true" type="q5:Category" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBaseOfCategorygJiz6K1p" nillable="true" type="tns:ResponseBaseOfCategorygJiz6K1p" />
</xs:schema>