ChiKoja/Web References/CategoryService/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICategoryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Messages" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.42.16/Services/CategoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Advertisements" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryService_GetServerDataVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDataVersion" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetServerDataVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDataVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetChildrenCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetChildrenCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetParentCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetParentCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="GetServerDataVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCommon/GetServerDataVersion" message="tns:ICategoryService_GetServerDataVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCommon/GetServerDataVersionResponse" message="tns:ICategoryService_GetServerDataVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategories" message="tns:ICategoryService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategoriesResponse" message="tns:ICategoryService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildrenCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetChildrenCategories" message="tns:ICategoryService_GetChildrenCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetChildrenCategoriesResponse" message="tns:ICategoryService_GetChildrenCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetParentCategory" message="tns:ICategoryService_GetParentCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetParentCategoryResponse" message="tns:ICategoryService_GetParentCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICategoryService" type="tns:ICategoryService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICategoryService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerDataVersion">
      <soap12:operation soapAction="http://tempuri.org/IServiceCommon/GetServerDataVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildrenCategories">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/GetChildrenCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentCategory">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/GetParentCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICategoryService" type="tns:ICategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerDataVersion">
      <soap:operation soapAction="http://tempuri.org/IServiceCommon/GetServerDataVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildrenCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetChildrenCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetParentCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="WSHttpBinding_ICategoryService" binding="tns:WSHttpBinding_ICategoryService">
      <soap12:address location="http://192.168.42.16/Services/CategoryService.svc/basic" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.42.16/Services/CategoryService.svc/basic</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICategoryService" binding="tns:BasicHttpBinding_ICategoryService">
      <soap:address location="http://192.168.42.16/Services/CategoryService.svc/PublicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>